// start dark mode :

.dark {
    .header {
        background-color: #201f24;
        box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.16);
    }
    .header__dash {
        background: #48474d;
    }
    .user-menu__box {
        color: #9da1a4;
    }
    .menu__btn {
        background: #323137;
        border: none;
        &-white {
            display: block;
        }
        &-dark {
            display: none;
        }
    }
    .user-menu__dropdown {
        background-color: #201f24;
        color: $grey;
    }
    .menu__dropdown-btn-line {
        background: #262d33;
        border: 1px solid #48474d;
        box-shadow: 0 22px 51px rgba($color: #000000, $alpha: 0.16);
    }
    .search__form {
        background: #302f34;
        border: 1px solid #48474d;
        box-shadow: none;
    }
    .search__explore {
        border: 1px solid #48474d;
    }
    .search__input {
        border-left: 1px solid #48474d;
        color: #fff;
    }
    .search__btn {
        background-image: url(../images/icon-search-dark.svg);
    }
    .search__explore-dropdown {
        color: $grey;
        background-color: #201f24;
        border: 1px solid #48474d;
        &::before {
            border-color: transparent transparent #48474d transparent;
        }
        .search__btn {
            background: url(../images/icon-search-white.svg);
        }
    }
    .tabs {
        background-color: #201f24;
        &__title {
            color: #fff;
        }
    }
    .tab {
        border-top: 1px solid rgba($color: #000000, $alpha: 0.16);
        &.active {
            background-color: #302f34;
            .tab__text {
                color: #fff;
            }
            &::before {
                content: url(../images/tab-active-arrow-dark.svg);
            }
        }
    }
    .recommended,
    .adventisment,
    .gallery,
    .latest,
    .join,
    .breaking {
        background-color: #201f24;
    }
    .section__title {
        color: #fff;
    }
    .recommended__inner {
        box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.16);
    }
    .latest__item {
        box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.16);
        background-color: #302f34;
        &-title,
        &--small-title,
        &--instagram-title {
            color: #fff;
        }
    }
    .latest__item-author span,
    .trending__title,
    .trending__item-title,
    .join__title,
    .breaking__item-title {
        color: #fff;
    }
    .join__inner,
    .breaking__list {
        box-shadow: 0 21px 55px rgba($color: #000000, $alpha: 0.16);
        background-color: #302f34;
    }
    .join__item {
        border: 10px solid #302f34;
    }
    .join__text,
    .breaking__text {
        color: #9da1a4;
    }
    .breaking__item + .breaking__item {
        border-top: 1px solid #1e1e20;
    }
    .footer,
    .notification {
        background-color: #302f34;
    }
    .latest__item-bottom,
    .footer__bottom {
        border-top: 1px solid rgba($color: #000000, $alpha: 0.16);
    }
    .footer__item-title,
    .notification__title {
        color: #fff;
    }
    .search__explore-dropdown-line {
        .search__form {
            border: none;
        }
    }
    .search__explore-close {
        background: #302f34;
        .explore-close--in-dark {
            display: block;
        }
        .explore-close--in-white {
            display: none;
        }
    }
    .user-menu__item-img {
        .item-img-grey {
            display: block;
        }
        .item-img-black {
            display: none;
        }
    }

    // login-page,
    // signup-page :

    &.login-page {
        background: #201f24;
    }
    .login {
        &__gallery {
            background: #323137;
        }
        &__title {
            color: #fff;
        }
        &__text {
            color: $grey;
        }
        &__input {
            border: none;
            box-shadow: none;
            color: #fff;
            &-wrapper {
                background: #323137;
            }
            &-pass-eye {
                &.pass-eye--grey {
                    display: block;
                }
                &.pass-eye--black {
                    display: none;
                }
            }
        }
    }

    // user-profile page :

    &.user-profile {
        background-color: #201f24;
    }
    .profile__inner {
        background-color: #323137;
        box-shadow: none;
    }
    .profile__img-load {
        background: #49484e;
        box-shadow: none;
        .icon-white {
            display: block;
        }
        .icon-black {
            display: none;
        }
    }
    .choose-notif__title,
    .profile__title,
    .profile__name {
        color: #fff;
    }
    .profile__settings {
        .login__input-wrapper {
            background: #49484e;
        }
        .agree-line__check-btn {
            background-color: #49484e;
            border: none;
            box-shadow: none;
        }
        .agree-line .jq-checkbox.checked .jq-checkbox__div {
            background-image: url(../images/checkbox-dark.svg);
        }
    }

    // start search-results page:

    &.search-results {
        background-color: #201f24;
    }
    .results {
        &__title,
        &__item-title,
        &__item-author-name {
            color: #fff;
        }
        &__item {
            background: #302f34;
            box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.16);
        }
        .jq-selectbox__select,
        .jq-selectbox__dropdown {
            background: #302f34;
        }
        .jq-selectbox__select-text,
        .jq-selectbox li {
            color: #9da1a4;
        }
        .jq-selectbox__trigger-arrow {
            background-image: url(../images/icon-arrow-down.svg);
        }
    }

    // start news page

    &.news {
        background: #201f24;
    }
    .breaking-news__item {
        background-color: #302f34;
        box-shadow: none;
    }
    .breaking-news__item-title,
    .breaking-news__link-title,
    .breaking-news__tags-title,
    .breaking-news__newsline-title,
    .breaking-news__item.breaking-news__item--most,
    .breaking-news__slider-name {
        color: #fff;
    }
    .breaking-news__newsline-text {
        color: $grey;
    }
    .search-categories__inner {
        background-color: #323137;
        color: #fff;
        box-shadow: none;
    }
    .breaking-news__tags-link {
        background: #49484e;
        color: #fff;
    }
    .breaking-news__slider .slick-arrow,
    .breaking-news__share-link,
    .breaking-news__item-img {
        box-shadow: none;
    }

    // start news-gallery mix page

    .top-slider__item {
        background-color: #201f24;
    }
    .top-slider__title,
    .top-slider__line,
    .discussions__box-author,
    .share-gallery__title,
    .share-gallery__text,
    .discussions__leave-title,
    .discussions__leave-name,
    .discussions__select .jq-selectbox__select-text {
        color: #fff;
    }
    .top-slider .slick-arrow {
        background-color: #323137;
        box-shadow: none;
        img {
            content: url(../images/slider-arrow-right-white.svg);
        }
    }
    .gallery-mix,
    .photo,
    .discussions,
    .news-latest {
        background: #201f24;
    }
    .discussions__total,
    .discussions__select .jq-selectbox__select,
    .discussions__select .jq-selectbox__dropdown,
    .discussions__select .jq-selectbox__dropdown li,
    .discussions__select .jq-selectbox__dropdown li.selected {
        background: #323137;
        color: #fff;
    }
    .discussions__select .jq-selectbox__trigger-arrow {
        background-image: url(../images/icon-arrow-down-white.svg);
    }
    .discussions__list,
    .share-gallery,
    .news-latest__aside {
        background-color: #323137;
        box-shadow: none;
    }
    .discussions__box-text {
        color: $grey;
    }
    .discussions__item,
    .share-gallery__title {
        border-bottom: 1px solid rgba($color: #e6e9ee, $alpha: 0.16);
    }
    .share-gallery__link {
        background: #49484e;
        color: rgba($color: #ffffff, $alpha: 0.45);
    }
    .share-gallery__btn {
        img {
            content: url(../images/icon-copy-white.svg);
        }
    }
    .discussions__leave-form textarea {
        border: none;
    }

    // start news-single page

    &.news-single {
        .breaking-news__link-border {
            background-color: rgba(#e6e9ee, 0.14);
        }
        .breaking-news__item--placeholder {
            background-color: $black;
        }
    }
    .news-single__content {
        background-color: #323137;
        box-shadow: none;
    }

    // start support page

    .help {
        &__form {
            background-color: #323137;
        }
        &__btn {
            background-image: url(../images/icon-search-white.svg);
        }
        &__input {
            color: #fff;
        }
    }
    .support-content {
        background-color: #201f24;
    }
    .support__item {
        background-color: #323137;
        box-shadow: none;
        &-title {
            color: #fff;
        }
        .icon-dark {
            display: block;
        }
        .icon-ligth {
            display: none;
        }
    }

    // start choose-content page

    &.choose-content {
        background-color: #201f24;
    }
    .choose__inner {
        background-color: #323137;
        box-shadow: none;
    }
    .choose__text {
        color: #fff;
    }
    .choose__item-text {
        color: $grey;
    }
    .choose__item {
        &:nth-child(1) {
            .choose__item-img {
                content: url(../images/icon-image-grey.svg);
            }
        }
        &:nth-child(2) {
            .choose__item-img {
                content: url(../images/icon-text-grey.svg);
            }
        }
    }

    // start upload-content page

    .upload__box {
        background-color: transparent;
        color: #fff;
    }

    // start upload-progress page,
    // upload-rewiew page

    .uploading__top,
    .uploading__item-top,
    .rewiew-titles,
    .rewiew__details-label {
        color: #fff;
    }
    .rewiew__details-input,
    .rewiew__details-textarea {
        background-color: #49484e;
        border: none;
        color: #fff;
    }
    .rewiew__details-tag {
        background-color: #5b5a5f;
        color: #fff;
    }

    // popup success
    .success {
        // display: none;
        background-color: #323137;
        &__title {
            color: #fff;
        }
        &__text {
            color: $grey;
        }
        .fancybox-button.fancybox-close-small {
            background-color: #49484e;
            background-image: url(../images/popup-close-white.svg);
        }
        &__top {
            border-bottom: 1px solid rgba($color: #e6e9ee, $alpha: 0.1);
        }
    }

    // start moderation-approval page

    &.moderation-approval {
        background-color: #201f24;
        color: #fff;
    }
    .moderation__item {
        background-color: #323137;
        box-shadow: none;
    }
    .requests-list__item,
    .requests-list__select .jq-selectbox__select,
    .requests-list__select .jq-selectbox__dropdown,
    .requests-list__select .jq-selectbox__dropdown li,
    .requests-list__select .jq-selectbox__dropdown li.selected {
        background-color: #49484e;
        border: none;
        color: #fff;
    }
    .requests-list__select .jq-selectbox__select-text {
        color: #fff;
    }
    .requests-list__select .jq-selectbox__trigger-arrow {
        background-image: url(../images/icon-arrow-down-white.svg);
    }

    // start subpage-india page

    &.subpage-india {
        background-color: #201f24;
    }
    .subpage-top__img{
        border: 10px solid #201f24;
        box-shadow: none;
    }
    .subpage-top__logo{
        border: 8px solid #201f24;
        box-shadow: none;
    }
    .subpage-top__text,
    .subpage__item-name,
    .subpage__item-title,
    .subpage__item--aside .subpage__item-text,
    .subpage__item-indicator span{
        color: #fff;
    }
    .subpage__item--info{
        background-color: #323137;
        box-shadow: none;
    }
    .subpage__item--advertisement{
        box-shadow: none;
    }
    .subpage__item-info-img{
        background-color: #fff;
        box-shadow: none;
    }
    .subpage__item-share-link{
        img{
            content: url(../images/icon-share-white.svg);
        }
    }
    .subpage__item-bookmark{
        img{
            content: url(../images/icon-bookmark-white.svg);
        }
        &.active {
            img {
                content: url(../images/icon-bookmark-fill.svg);
            }
        }
    }
    .subpage__item-list{
        color: $grey;
    }
    .subpage__item-like-box img{
        border: 3px solid #323137;
        box-shadow: none;
    }
    .share-popup{
        background-color: #201F24;
    }
    .share__copy{
        background-color: #323137;
        color: rgba(#fff, 0.45);
    }
    .share__copy-btn{
        img{
            content: url(../images/icon-copy-white.svg);
        }
    }
}
