html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
    &:hover {
        opacity: 0.8;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 22px;
}

p {
    margin: 0;
}

input,
textarea,
button {
    outline: none;
    padding: 0;
    margin: 0;
}

input,
textarea{
    text-overflow: ellipsis;
}

button {
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        opacity: 0.7;
    }
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    color: $black;
    min-width: 320px;
    overflow-x: hidden;
    background: #fafafa;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    // &.hidden {
    //     position: fixed;
    // }
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1670px;
    padding: 0 25px;
    margin: 0 auto;
    &-full {
        max-width: 1920px;
        margin: 0 auto;
    }
}

.container-header {
    max-width: 1920px;
    padding: 0;
    margin: 0 auto;
}

// start header

.header {
    width: 100%;
    height: 133px;
    position: fixed;
    top: 0;
    z-index: 12;
    background-color: #ffffff;
    font-weight: 400;
    box-shadow: 0 22px 51px rgba($color: #b1bdda, $alpha: 0.16);
    &__inner {
        padding: 33px 41px 33px 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: $grey;
        margin-right: 30px;
    }
    &__btn {
        height: 67px;
        text-align: center;
        border-radius: 34px;
        padding: 18px;
        color: #ffffff;
    }
    &__dash {
        width: 1px;
        height: 52px;
        background: #e6e9ee;
        margin-right: 30px;
    }
}

.logo {
    margin-right: 71px;
    display: flex;
    align-items: center;
}

.search {
    max-width: 666px;
    width: 100%;
    margin-right: 62px;
    &__form {
        height: 67px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 34px;
        box-shadow: 0 22px 51px rgba($color: #b1bdda, $alpha: 0.16);
        border: 1px solid #e6e9ee;
        padding: 14px 0 14px 20px;
    }
    &__btn {
        height: 27px;
        width: 27px;
        min-width: 27px;
        background: transparent;
        border: none;
        margin-right: 16px;
        background-image: url(../images/icon-search.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    &__input {
        width: 100%;
        border: none;
        border-left: 1px solid #e6e9ee;
        background: transparent;
        padding: 4px 16px;
        &::placeholder {
            font-weight: 300;
            color: #b3b3b3;
        }
    }
    &__explore {
        height: 67px;
        max-width: 197px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 34px;
        border: 1px solid #e6e9ee;
        color: $grey;
        cursor: pointer;
        transition: all 0.3s;
        span {
            margin-right: 12px;
        }
        &:hover {
            opacity: 0.8;
        }
        &-dropdown {
            display: none;
            max-width: 1620px;
            width: 100%;
            position: absolute;
            top: 130px;
            left: 50%;
            z-index: 11;
            transform: translateX(-50%);
            font-weight: 400;
            color: $black;
            background-color: #fff;
            border-radius: 18px;
            box-shadow: 0 21px 55px rgba($color: #000000, $alpha: 0.16);
            padding: 79px 50px 14px;
            z-index: 100001;
            &-line {
                display: none;
                margin-bottom: 34px;
                align-items: center;
                justify-content: space-between;
                .search__form {
                    max-width: 497px;
                    width: 100%;
                    border: 1px solid #e6e9ee;
                    margin-right: 4px;
                    padding: 14px 20px;
                    .search__btn,
                    .search__input {
                        display: block;
                    }
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: -28px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 19.5px 29px 19.5px;
                border-color: transparent transparent #ffffff transparent;
            }
            &-bg {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba($color: #000000, $alpha: 0.63);
            }
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
        }
        &-close {
            height: 67px;
            width: 67px;
            border-radius: 50%;
            background-color: #f1f3fb;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
            .explore-close--in-dark {
                display: none;
            }
        }
        &-category {
            width: 216px;
            margin-bottom: 60px;
        }
    }
}

.explore-category__title {
    font-family: "Segoe UI-Bold", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 4px;
}

.explore-category__item {
    margin-bottom: 4px;
}

.submit-photo-btn {
    max-width: 217px;
    width: 100%;
    background-color: #4493ff;
    color: #ffffff;
    margin-right: 29px;
    margin-left: 18px;
    img {
        display: none;
        margin: 0 auto;
    }
}

.login {
    color: $grey;
    margin-right: 30px;
}

.join-free {
    max-width: 169px;
    width: 100%;
    background-color: $green;
}

// .header__menu-dropdown {
//     // display: none;
// }
body.login--on {
    .user-menu__box {
        display: flex;
    }
    .login,
    .join-free {
        display: none;
    }
}

.user-menu {
    order: 1;
    position: relative;
    &__box {
        display: none;
        align-items: center;
        font-weight: 500;
        color: $black;
        cursor: pointer;
        transition: all 0.3s;
        img {
            margin-right: 20px;
            border-radius: 50%;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &__dropdown {
        display: none;
        position: absolute;
        // right: -24px;
        // top: 97px;
        right: -64px;
        top: 77px;
        width: 334px;
        padding: 27px 37px;
        background-color: #fff;
        border-radius: 18px;
        box-shadow: 0 3px 10px rgba($color: #262d33, $alpha: 0.11);
    }
    &__list {
        max-width: 260px;
        margin: 0 auto;
        padding: 0 10px;
        li {
            margin-top: 24px;
        }
    }
    &__item {
        display: flex;
        font-size: 22px;
        line-height: 30px;
        font-weight: 500;
        &-img {
            width: 25px;
            margin-right: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            .item-img-grey {
                display: none;
            }
        }
    }
}
.menu__dropdown-btn-line {
    max-width: 260px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-radius: 25px;
    background: #f2f5f8;
    border: 1px solid #e6e9ee;
    box-shadow: 0 22px 51px rgba($color: #b1bdda, $alpha: 0.16);
    padding: 5px 6px;
}
.btn-color-mode {
    width: 123px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        opacity: 0.7;
    }
}
.btn-light-mode.active {
    background-color: #fff;
    .sun-grey {
        display: none;
    }
    .sun-black {
        display: block;
    }
}
.sun-black {
    display: none;
}
.btn-dark-mode.active {
    background-color: #464649;
    .moon-white {
        display: block;
    }
    .moon-dark {
        display: none;
    }
}
.moon-white {
    display: none;
}

.menu__btn {
    display: none;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    border: 1px solid #e6e9ee;
    text-align: center;
    padding: 23px 0;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
    img {
        margin: 0 auto;
    }
    &-white {
        display: none;
    }
}

// .menu__dropdown{

// }

// end header

// start top

.top {
    padding-top: 133px;
    background-color: #55a630;
    color: #ffffff;
}

.menu {
    text-transform: uppercase;
    &__list {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        li {
            display: inline-block;
        }
        li + li {
            margin-left: 75px;
        }
    }
}

// end top

.section__title {
    font-family: "Segoe UI-Bold", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    text-transform: uppercase;
}

// start footer

.footer {
    color: $grey;
    background-color: #fff;
    &__inner {
        margin-left: -35px;
        margin-right: -35px;
        padding-top: 112px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    &__item {
        max-width: 210px;
        & + & {
            margin-left: 25px;
        }
        &.footer__item-logo {
            max-width: 358px;
        }
        &.footer__contacts {
            max-width: 258px;
        }
        &.footer__gallery {
            max-width: 265px;
        }
        &-title {
            font-family: "Segoe UI-Bold", sans-serif;
            font-weight: 700;
            font-size: 34px;
            line-height: 46px;
            color: $black;
            margin-bottom: 20px;
        }
        &-link {
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 13px;
            display: block;
        }
        &-text {
            height: 80px;
            overflow: hidden;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
        }
        .logo {
            width: 212px;
            height: 50px;
            margin-bottom: 18px;
            margin-right: 0;
            img {
                width: 100%;
            }
        }
    }
    &__gallery {
        &-box {
            max-width: 265px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &-img {
            margin-bottom: 8px;
            border-radius: 13px;
        }
    }
    &__bottom {
        border-top: 1px solid #e6e9ee;
        padding-top: 45px;
        padding-bottom: 54px;
        text-align: center;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
    }
}

// kind of category:

.category {
    &-movies {
        color: #4493ff;
    }
    &-tv {
        color: $green;
    }
    &-holywood {
        color: #ff6344;
    }
    &-music {
        color: #ce7c00;
    }
    &-youtube {
        color: #ff0046;
    }
}
