@import "_vars";
@import "_global";
@import "_fonts";

// start main page

// start top

.top--homepage {
    padding-bottom: 416px;
}
.top__news {
    background-color: rgba($color: #ffffff, $alpha: 0.09);
    display: flex;
    padding: 37px 42px;
    border-radius: 18px;
    &-item {
        // max-width: 363px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            margin-left: 8px;
        }
        &:nth-child(1) {
            max-width: 322px;
        }
        & + & {
            max-width: 363px;
            margin-left: 41px;
            padding-left: 41px;
            border-left: 2px solid #55a630;
        }
        &-title {
            width: 193px;
            font-family: "Segoe UI-Bold", sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
        }
    }
}

// start recommended

.recommended {
    width: 100%;
    // margin-bottom: 45px;
    // margin-top: 372px;
    height: 425px;
    &__inner {
        // margin-top: -372px;
        transform: translateY(-372px);
        border-radius: 18px;
        box-shadow: 0 22px 51px rgba($color: #b1bdda, $alpha: 0.16);
        overflow: hidden;
        display: flex;
    }
}
.tab__content {
    width: 100%;
    color: #ffffff;
}
.tab-item {
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 56px 35px 62px 49px;
    &:first-child,
    &.active-tab {
        display: flex;
    }
    &__category {
        font-size: 30px;
        line-height: 40px;
    }
    &__title {
        font-family: "Segoe UI-Bold", sans-serif;
        font-weight: 700;
        font-size: 70px;
        line-height: 75px;
        text-transform: uppercase;
        margin-top: -5px;
    }
    &__link-more {
        width: 243px;
        height: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $green;
        border-radius: 34px;
        span {
            margin-right: 10px;
        }
    }
}
.reporter {
    max-width: 246px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: auto;
    img {
        margin-right: 21px;
    }
    &__name {
        font-weight: 700;
    }
    &__status {
        font-weight: 400;
    }
}

.tabs {
    background-color: #ffffff;
    max-width: 455px;
    width: 100%;
    &__title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: $black;
        padding: 30px 75px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
}
.tab {
    padding: 21px 50px 27px;
    cursor: pointer;
    border-top: 1px solid #e6e9ee;
    &__category {
        font-weight: 500;
        margin-bottom: 9px;
        &--tv {
            color: $green;
        }
        &--sport {
            color: #c7523b;
        }
        &--movies {
            color: #4493ff;
        }
    }
    &__text {
        height: 27px;
        overflow: hidden;
        color: $grey;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 27px;
    }
    &.active {
        position: relative;
        background-color: rgba($color: #e6e9ee, $alpha: 0.34);
        border-right: 5px solid $green;
        .tab__text {
            color: $black;
        }
        &::before {
            content: url(../images/tab-active-arrow.svg);
            position: absolute;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
            width: 39px;
            height: 40px;
        }
    }
}

// start adventisment

.adventisment {
    padding-top: 45px;
    &__inner {
        min-height: 160px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 18px;
        padding: 48px 60px;
    }
    &__placeholder {
        max-width: 420px;
        width: 100%;
        height: 63px;
        padding: 15px;
        text-align: center;
        background-color: #fff;
        font-family: "Segoe UI-SemiBold", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        border-radius: 32px;
    }
}

// start gallery

.gallery {
    &__inner {
        padding-top: 45px;
    }
    &__title {
        margin-bottom: 45px;
    }
    &__content {
        display: flex;
        min-height: 680px;
    }
    &__slider {
        position: relative;
        max-width: 910px;
        width: 100%;
        height: 680px;
        margin-right: 14px;
        border-radius: 18px;
        // overflow: hidden;
        &-item {
            position: relative;
            height: 680px;
            text-align: center;
            padding: 33px;
            border-radius: 18px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &.hot-trending {
                .hot-trending__label {
                    display: block;
                }
            }
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            background: transparent;
            border: none;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            &.slick-disabled {
                display: none !important;
            }
        }
    }
    &__preview-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    &__preview {
        max-width: 341px;
        width: 50%;
        height: 332px;
        border-radius: 18px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #ffffff;
        text-align: center;
        padding: 101px 30px;
        &:hover {
            opacity: 1;
            background-color: rgba($color: #000, $alpha: 0.51);
            background-blend-mode: color;
            .preview__title {
                display: block;
            }
            .preview__open-gallery {
                display: flex;
            }
        }
        &-last {
            background-color: rgba($color: #000, $alpha: 0.51);
            background-blend-mode: color;
            span {
                font-weight: 400;
                font-size: 110px;
                line-height: 125px;
            }
            &:hover {
                opacity: 0.9;
            }
        }
    }
}
.slider__arrow-prev {
    left: 32px;
}
.slider__arrow-next {
    right: 32px;
}
.slick-dots {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    height: 12px;
    li {
        display: inline-block;
        & + li {
            margin-left: 13px;
        }
        button {
            background: #868686;
            width: 12px;
            height: 12px;
            border: none;
            border-radius: 50%;
            color: transparent;
        }
        &.slick-active {
            button {
                background: #ffffff;
            }
        }
    }
}
.hot-trending__label {
    display: none;
}
.slider-item {
    &__reporter {
        display: block;
        margin: 0 auto 76px;
        text-align: center;
        color: #ffffff;
        img {
            margin: 0 auto 11px;
        }
        .reporter__status {
            color: $grey;
        }
    }
    &__title {
        color: #ffffff;
        font-family: "Segoe UI-Bold", sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 27px;
    }
    &__open-gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
        border-radius: 34px;
        height: 67px;
        max-width: 310px;
        width: 100%;
        padding: 18px;
        color: #ffffff;
        margin: 0 auto;
        img {
            margin-right: 10px;
        }
    }
}
.open-gallery__text {
    font-weight: 500;
    margin-right: 9px;
}
.open-gallery__count {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
}
.hot-trending__label {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 201px;
    height: 54px;
    color: #ffffff;
    font-size: 21px;
    line-height: 28px;
    padding: 12px;
    text-align: center;
    background: #ff5d5d;
    border-radius: 27px;
}
.preview__title {
    display: none;
    font-family: "Segoe UI-Bold", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 23px;
}
.preview__open-gallery {
    display: none;
    width: 199px;
    height: 43px;
    // display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 34px;
    background: $green;
    margin: 0 auto;
    font-size: 16px;
    line-height: 21px;
    img {
        margin-right: 11px;
        width: 31px;
        height: 21px;
    }
}

// start latest

.latest {
    &__inner {
        padding-top: 34px;
    }
    &__title {
        margin-bottom: 34px;
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 37px;
    }
    &__item {
        border-radius: 18px;
        box-shadow: 0 21px 55px rgba($color: #b1bdda, $alpha: 0.25);
        &:hover {
            opacity: 1;
        }
        &.latest__item--main {
            grid-column: 1/3;
            max-width: 790px;
            min-height: 523px;
            width: 100%;
            padding: 62px 0 24px;
            background: #fff;
            .latest__item-title {
                margin-bottom: 18px;
            }
        }
        &.latest__item--popular {
            max-width: 375px;
            width: 100%;
            min-height: 523px;
            color: #fff;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 38px 35px 31px;
            .latest__item-category {
                font-size: 17px;
                line-height: 22px;
            }
            .latest__item-title {
                font-size: 25px;
                line-height: 33px;
                margin-bottom: 20px;
            }
        }
        &.latest__item--trending {
            min-height: 800px;
            grid-row: span 2;
        }
        &.latest__item--instagram {
            grid-row: span 2;
        }
        &.latest__item--long {
            grid-column: span 2;
        }
        &-top {
            display: flex;
            justify-content: space-between;
            padding-left: 50px;
        }
        &-info {
            max-width: 376px;
            width: 100%;
            margin-right: 25px;
        }
        &-category {
            font-size: 25px;
            line-height: 33px;
        }
        &-title {
            font-size: 40px;
            line-height: 43px;
            font-family: "Segoe UI-Bold", sans-serif;
            font-weight: 700;
            margin-bottom: 11px;
        }
        &-text {
            max-width: 370px;
            font-size: 20px;
            line-height: 27px;
            font-weight: 400;
            color: $grey;
        }
        &-bottom {
            border-top: 1px solid #e6e9ee;
            padding: 18px 50px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            line-height: 27px;
        }
        &-author {
            display: flex;
            align-items: center;
            margin-right: 15px;
            &-img {
                margin-right: 15px;
                border-radius: 50%;
            }
            span {
                font-weight: 700;
            }
        }
        &-begin {
            font-weight: 300;
            font-size: 19px;
            color: $grey;
            margin-right: 40px;
        }
        &-comments {
            display: flex;
            align-items: center;
            font-weight: 400;
            color: $grey;
            img {
                margin-right: 8px;
            }
        }
        &-popular-label {
            width: 122px;
            height: 42px;
            text-align: center;
            padding: 10px;
            font-size: 17px;
            line-height: 22px;
            background: #ff5d5d;
            border-radius: 21px;
            margin-bottom: 159px;
        }
        &-author-bottom {
            display: flex;
            span {
                font-weight: 400;
                color: $grey;
            }
            .latest__item-comments,
            .latest__item-like {
                margin-left: 10px;
                display: flex;
                img {
                    margin-right: 9px;
                }
            }
        }
        &-date {
            font-weight: 300;
            color: $grey;
        }
    }
}
.trending {
    padding-top: 39px;
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 26px;
        font-weight: 700;
        font-size: 23px;
        line-height: 31px;
        img {
            margin-right: 15px;
        }
    }
    &__item {
        position: relative;
        padding: 26px;
        border-top: 1px solid rgba(#262d33, 0.09);
        display: flex;
        align-items: center;
        img {
            margin-right: 15px;
            border-radius: 9px;
        }
        &-info {
            max-width: 190px;
        }
        &-title {
            font-family: "Segoe UI-Bold", sans-serif;
            font-weight: 700;
            font-size: 23px;
            line-height: 30px;
            span {
                font-family: "Segoe UI", sans-serif;
                font-weight: 400;
            }
        }
        &-time {
            font-weight: 300;
            font-size: 20px;
            line-height: 27px;
            color: $grey;
        }
        &-bg {
            position: absolute;
            right: 26px;
            font-family: "Segoe UI-Bold", sans-serif;
            font-weight: 700;
            font-size: 115px;
            line-height: 153px;
            color: rgba($color: $grey, $alpha: 0.16);
        }
    }
}
.latest__item--instagram {
    &-img {
        height: 378px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 18px 18px 0 0;
    }
    &-title {
        padding: 10px 27px 17px;
        font-family: "Segoe UI-Bold", sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
    }
    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 27px 20px;
    }
}
.latest__item--small {
    padding: 29px 25px;
    &-category {
        font-size: 20px;
        line-height: 27px;
    }
    &-title {
        font-family: "Segoe UI-Bold", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 11px;
    }
    &-text {
        height: 82px;
        overflow: hidden;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: $grey;
        margin-bottom: 23px;
    }
}
.latest__item--long {
    display: flex;
    &-img {
        border-radius: 18px;
        margin-right: 28px;
    }
    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.latest__item--placeholder {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    padding: 94px 22px;
    p {
        background-color: #fff;
        border-radius: 32px;
        text-align: center;
        max-width: 339px;
        width: 100%;
        height: 63px;
        padding: 15px;
    }
}

// start adventisment (adventisment-centered)

.adventisment.adventisment-centered {
    .adventisment__inner {
        border-radius: 14px;
        min-height: 90px;
        padding: 14px;
        text-align: center;
    }
}

// start join

.join {
    padding-top: 48px;
    padding-bottom: 48px;
    &__inner {
        background-color: #fff;
        text-align: center;
        padding: 50px 50px 60px;
        box-shadow: 0 21px 55px rgba($color: #b1bdda, $alpha: 0.16);
        border-radius: 18px;
    }
    &__title {
        font-family: "Segoe UI", sans-serif;
        font-weight: 400;
        font-size: 45px;
        line-height: 60px;
        margin: 0 auto 85px;
        max-width: 670px;
    }
    &__box {
        max-width: 689px;
        width: 100%;
        display: flex;
        margin: 0 auto 35px;
    }
    &__item {
        width: 219px;
        min-width: 219px;
        height: 209px;
        border-radius: 50%;
        border: 10px solid #fff;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &-link {
            background-color: #e6e9ee;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                opacity: 1;
                background-color: #d7dce4;
            }
        }
        & + .join__item {
            margin-left: -62px;
        }
    }
    &__text {
        font-weight: 400;
        margin-bottom: 44px;
    }
    &__btn {
        border-radius: 34px;
        padding: 18px;
        text-align: center;
        max-width: 217px;
        width: 100%;
        height: 67px;
        color: #ffffff;
        font-weight: 400;
        &-submit {
            background: #4493ff;
            margin-right: 26px;
        }
        &-signup {
            background: $green;
        }
    }
}

// start breaking

.breaking {
    &__inner {
        padding-bottom: 100px;
    }
    &__title {
        margin-bottom: 48px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        max-width: 1203px;
        margin-right: 35px;
        padding: 0 38px;
        border-radius: 18px;
        background-color: #fff;
        box-shadow: 0 22px 51px rgba($color: #b1bdda, $alpha: 0.16);
    }
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 38px 0;
        & + .breaking__item {
            border-top: 1px solid #e6e9ee;
        }
    }
    &__img {
        max-width: 479px;
        max-height: 267px;
        width: 100%;
        margin-right: 55px;
    }
    &__category {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 11px;
    }
    &__item-title {
        font-family: "Segoe UI-Bold", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 16px;
        margin-top: 16px;
        &:hover {
            color: $green;
            opacity: 1;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 15px;
    }
    &__bottom {
        display: flex;
        align-items: center;
    }
    &__time {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: $grey;
        margin-right: 34px;
    }
    &__comments {
        font-size: 20px;
    }
    &__fans {
        max-width: 378px;
        background: $green;
        border-radius: 18px;
        padding: 21px 23px 30px;
        &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #ffffff;
            text-align: center;
            margin-bottom: 10px;
        }
        &-img {
            margin-top: 32px;
            border-radius: 18px;
        }
    }
}

// start footer

.footer {
    color: $grey;
    background-color: #fff;
    &__inner {
        margin-left: -35px;
        margin-right: -35px;
        padding-top: 112px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    &__item {
        max-width: 210px;
        & + & {
            margin-left: 25px;
        }
        &.footer__item-logo {
            max-width: 358px;
        }
        &.footer__contacts {
            max-width: 258px;
        }
        &.footer__gallery {
            max-width: 265px;
        }
        &-title {
            font-family: "Segoe UI-Bold", sans-serif;
            font-weight: 700;
            font-size: 34px;
            line-height: 46px;
            color: $black;
            margin-bottom: 20px;
        }
        &-link {
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 13px;
        }
        &-text {
            height: 106px;
            overflow: hidden;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
        }
        .logo {
            width: 212px;
            height: 50px;
            margin-bottom: 18px;
            margin-right: 0;
            img {
                width: 100%;
            }
        }
    }
    &__gallery {
        &-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &-img {
            margin-bottom: 8px;
            border-radius: 13px;
        }
    }
    &__bottom {
        border-top: 1px solid #e6e9ee;
        padding-top: 45px;
        padding-bottom: 54px;
        text-align: center;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
    }
}

// start popup-gallery

.popup-gallery {
    // display: none;
    height: 0;
    max-width: 1633px;
    width: 100%;
    overflow: hidden;
    border-radius: 18px;
    padding: 0;
    cursor: pointer;
    &.active {
        overflow: visible;
        height: auto;
        margin-bottom: 82px;
        margin-top: 83px;
    }
    &__inner {
        position: relative;
    }
}
.popup__slider-main {
    width: 100%;
    height: 916px;
    border-radius: 18px;
    .slick-list {
        height: inherit;
    }
}
.slider-main__item {
    border-radius: 18px;
    height: 916px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 159px;
    padding-bottom: 198px;
    display: flex !important;
    align-items: flex-end;
}
.popup__slider-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 188px;
    border-radius: 18px;
    background-color: rgba($color: #262d33, $alpha: 0.53);
    padding: 22px 27px;
    .slick-slide {
        height: 144px;
        div {
            height: inherit;
        }
    }
    .slick-arrow {
        position: absolute;
        top: -74px;
        right: 15px;
        height: 52px;
        width: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        border: none;
        &:hover {
            opacity: 0.7;
        }
        &.slick-disabled {
            background: $grey;
        }
    }
    // .slick-list{
    // }
    // .slick-track {
    //     // transform: none !important;
    // }
}
.popup__slider__arrow-prev {
    transform: translateX(-72px);
    padding-right: 3px;
    img {
        transform: rotate(180deg);
    }
}
.slider-nav__item {
    width: 196px !important;
    height: 144px;
    border-radius: 18px;
    overflow: hidden;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slick-current .slider-nav__item {
    border: 5px solid #e6e9ee;
}
.slider-main {
    &__line {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
    }
    &__uploaded-by {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
    }
    &__left-line {
        display: flex;
        align-items: center;
    }
    &__number {
        font-size: 44px;
        line-height: 50px;
        margin-right: 23px;
    }
    &__fans {
        font-size: 22px;
        line-height: 25px;
        font-weight: 400;
        span {
            font-weight: 900;
        }
    }
    &__right {
        display: flex;
    }
    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 28px;
        width: 181px;
        height: 52px;
        img {
            margin-right: 12px;
        }
    }
    &__dislike {
        background: #4493ff;
        border: 2px solid #3483ef;
        margin-right: 10px;
        &:hover {
            background: #3483ef;
            opacity: 1;
        }
    }
    &__like {
        background: #ff4e4e;
        border: 2px solid #e42f2f;
        &:hover {
            background: #e42f2f;
            opacity: 1;
        }
    }
    &__like-count {
        position: absolute;
        right: -6px;
        top: -14px;
        width: 41px;
        height: 27px;
        text-align: center;
        border-radius: 14px;
        color: $black;
        font-size: 14px;
        line-height: 19px;
        background-color: #fff;
        box-shadow: 0 -1px 6px rgba($color: #000000, $alpha: 0.16);
        padding: 6px;
    }
}
.gallery {
    &__bottom {
        position: absolute;
        z-index: 1000000;
        bottom: -73px;
        width: 100%;
        height: 65px;
        border-radius: 18px;
        background: #262d33;
        padding: 6px;
        overflow: hidden;
        display: flex;
        align-items: center;
        &-line {
            position: relative;
            z-index: 1;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
    }
    &__get-updated {
        font-size: 39px;
        line-height: 45px;
        margin-right: 35px;
        font-weight: 400;
        span {
            font-weight: 900;
            color: $green;
        }
    }
    &__form {
        margin-right: 62px;
        position: relative;
        max-width: 572px;
        width: 100%;
        height: 36px;
        input {
            width: 100%;
            padding: 7px 170px 7px 20px;
            border-radius: 8px;
            height: 36px;
            font-size: 20px;
            &::placeholder {
                color: $grey;
                font-size: 17px;
                font-weight: 300;
            }
        }
        button {
            position: absolute;
            right: -18px;
            top: -2px;
            width: 174px;
            height: 40px;
            border-radius: 44px;
            background: $green;
            color: #fff;
            font-size: 17px;
            line-height: 22px;
            font-weight: 400;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__reseive {
        font-size: 17px;
        font-weight: 300;
    }
    &__bottom-bg {
        position: absolute;
        bottom: -100px;
        width: 343px;
        height: 165px;
        overflow: hidden;
        opacity: 0.2;
        &--right {
            right: 60px;
        }
        &--left {
            left: 6px;
        }
    }
}
.popup-gallery .fancybox-button.fancybox-close-small {
    opacity: 1;
    color: transparent;
    background-image: url(../images/popup-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 1000000;
    top: -42px;
    right: -49px;
    &:hover {
        opacity: 0.7;
    }
}

// end main page

// start notification

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 19px;
    max-width: 584px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 21px 55px rgba($color: #b1bdda, $alpha: 0.16);
    border-radius: 13px;
    background-color: #fff;
    &__img {
        position: relative;
        width: 120px;
        min-width: 120px;
        height: 171px;
        border-radius: 13px;
        margin-right: 20px;
        img {
            position: absolute;
            left: -83px;
            top: -61px;
        }
    }
    &__title {
        font-family: "Segoe UI-Bold", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 8px;
    }
    &__text {
        color: $grey;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    &__btn {
        background-color: $green;
        text-align: center;
        color: #fff;
        border-radius: 34px;
        max-width: 406px;
        width: 100%;
        padding: 11px;
        font-size: 20px;
        line-height: 27px;
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 19px;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}

// start dark color mode:

@import "_dark";

// start madia:

@import "_media";
